.header-section-image {
  background-image: url("/dist/img/header-section/img 1 (2).png");
  background-size: auto 768px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 718px;
  position: relative;

  @media (min-width: $small-screen-breakpoint){
    background-size: auto 800px;
  }

  @media (min-width: 1380px) {
    background-size: 100% 800px;
  }
}

.navbar {
  background-color: $color-charcoal;
  position: relative;
  margin-bottom: 50px;

  @media (min-width: $small-screen-breakpoint) {
    margin-bottom: 70px;
  }

  @media (min-width: $medium-screen-breakpoint) {
    background: none;
    max-width: 1200px;
    margin: 0 auto 83px;
  }
}

.flex-container {
  @include flex-container(row, space-between, center);

  padding: 0 15px;
  height: 100px;

  @media (min-width: $small-screen-breakpoint) {
    height: auto;
    padding: 22px 15px;
  }

  .logo {
    @include flex-container(row, start, center);

    &__img {
      width: 43px;
      height: 41px;
    }

    &__img-hover {
      position: absolute;
      opacity: 0;
      transition: all 0.5s ease;
    }

    &__text {
      display: none;
      margin-left: 20px;
      color: $main-color;
      font-size: 24px;
      font-family: $font-Lato;
      font-weight: $lato-font-weight-bold;
      line-height: 16px;
      text-transform: uppercase;
      transition: all ease 0.5s;
      cursor: pointer;

      @media (min-width: $small-screen-breakpoint) {
        display: inline-block;
      }
    }

    &:hover .logo{
      &__img-hover {
        opacity: 1;
      }

      &__text {
        color: $color-white;
      }
    }
  }

  .container-button {
    cursor: pointer;
    @include flex-container(column, center, end);
    gap: 6px;

    @media (min-width: $small-screen-breakpoint) {
      display: none;
    }
  }
}

.bar1, .bar2, .bar3 {
  width: 26px;
  height: 3px;
  border-radius: 5px;
  background: $color-white;
  transition: 0.4s;
}

.bar1 {
  width: 15px;
}

.change .bar1 {
  width: 26px;
  transform: rotate(-45deg) translate(-9px, 7px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.close {
  display: none;
  @media (min-width: $small-screen-breakpoint) {
    display: flex;
  }
}

.title-container {
  text-align: center;

  &__title {
    flex-shrink: 0;
    color: $color-white;
    text-align: center;
    font-size: 48px;
    font-family: $font-Montserrat;
    font-weight: $montserrat-font-weight-bold;
    line-height: 48px;

    @media (min-width: $small-screen-breakpoint) {
      font-size: 72px;
      line-height: 72px;
    }

    @media (min-width: $medium-screen-breakpoint) {
      font-size: 82px;
      line-height: 82px;
    }
  }

  &__gamechanger {
    margin: 19px auto 14px;
    width: 300px;
    color: $main-color;
    text-align: center;
    font-size: 18px;
    font-family: $font-Montserrat;
    font-weight: $montserrat-font-weight-regular;
    line-height: 24px;

    @media (min-width: $small-screen-breakpoint) {
      max-width: 800px;
      width: 100%;
      box-sizing: border-box;
      padding: 0 10px;
      font-size: 24px;
      font-family: $font-Lato;
    }

    @media (min-width: $medium-screen-breakpoint) {
      font-size: 30px;
      line-height: 30px;
      padding: 0;
      white-space: nowrap;
    }
  }

  &__os-support {
    color: $color-slate;
    text-align: center;
    font-size: 14px;
    font-family: $font-Montserrat;
    line-height: 14px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: $montserrat-font-weight-regular;

    @media (min-width: $small-screen-breakpoint) {
      font-size: 14px;
      line-height: 14px;
    }

    @media (min-width: $medium-screen-breakpoint) {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.trial-period {
  color: $color-slate;
  text-align: center;
  font-size: 14px;
  font-family: $font-Montserrat;
  line-height: 14px;
  margin-top: 35px;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: $montserrat-font-weight-regular;

  @media (min-width: $small-screen-breakpoint) {
    line-height: 16px;
  }

  @media (min-width: $medium-screen-breakpoint) {
    line-height: 15px;
  }
}